
<p><%= @dish.name %></p>

<p>
 <img src="<%= @dish['image_url'] %>" alt="<%= @dish['image_url'] %>"> 
</p>

<a href="/">Home</a> | 
<a href="/dishes/<%= @dish['id'] %>/edit">Edit</a> |

<form action="/dishes/<%= @dish['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>




