<!DOCTYPE html>
<html>
<head>
  <title>Crumplr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if logged_in? %>
  logged in as <%= current_user.email %>
  <%= form_tag '/login', method: :delete do %>
    <button>logout</button>
  <% end %>
<% else %>
  <p><%= link_to 'login', '/login' %></p>
<% end %>


<%= render '/shared/menu' %>

<%= yield %>

</body>
</html>
